@import "../../Assets/Styles/mixins";
@import "../../Assets/Styles/partials";

.legalWrapper {
  padding-top: 150px;
  background-color: #011323;
  color: white;
  font-family: "Poppins", sans-serif;
  padding-bottom: 50px;

  h1 {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 32px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 15px;
  }

  ul {
    li {
      color: #fff;
      margin-bottom: 0px;
    }
  }
}