@import "../../Assets/Styles/mixins";
@import "../../Assets/Styles/partials";

form{
    .form__group{
        .form__input{
            border-radius: 50px;
            border: none;
            width: 100%;
            font-size: 16px;
            padding: 10px 30px;
            margin-bottom: 20px;
            font-weight: 500;
            color: #000;
            &:focus{
                outline: none;
            }
        }
        .form__checkbox{
            color: white;
            margin-bottom: 20px;
        }
    }
    .button__wrapper{
        display: flex;
        justify-content:center;
        margin-bottom: 10px;
        button{
            width: 100%;
            background-color: #00b085;
            height: 50px;
            border-radius: 50px;
            padding: 10px;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #fff;
            border: none;
            &:focus{
                outline: none;
            }
        }
        
    }
    p{
        color: white;
        margin-bottom: 0px;
        font-weight: 500;
        text-align: center;
        a{
            text-decoration: none;
            font-weight: bold;
            color: white;
            &:hover{
                color: white;
            }
        }
    }
}